.headerContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: solid 1px #ddd;
}
.headerContainer .title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px 20px;
  width: 100%;
  border: solid 1px red;
}
.headerContainer .title h1 {
  font-size: 24px;
  font-weight: 500;
  color: #102a43;
  margin: 0;
  border: solid 1px red;
}
.headerContainer .title h1::first-letter {
  text-transform: uppercase;
}
.headerContainer .title p {
  margin: 0;
  border: solid 1px red;
  margin-left: 10px;
}
.headerContainer .transactionNum {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.headerContainer .transactionNum p {
  font-size: 14px;
  margin: 0 3px;
}
.headerContainer .transactionNum p:first-of-type {
  font-weight: 900;
}
.headerContainer .dateFilter {
  min-height: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.headerContainer .dateFilter p {
  font-size: 12px;
  margin: 3px;
}
.headerContainer .totalsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.headerContainer .totalsRow .balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.headerContainer .totalsRow .balance h2 {
  font-size: 13px;
  font-weight: 100;
  color: #486581;
  margin: 0 0 5px;
}
.headerContainer .totalsRow .balance p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
