.headerContainer {
  display: flex;
  width: 100%;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: solid 1px #ddd;
  background-color: #F8F6F1;

  .title {
    // flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px 20px;
    width: 100%;

    h1 {
      font-size: 24px;
      font-weight: 500;
      color: #102a43;
      margin: 0;
      color: var(--main-color);

      &::first-letter {
        text-transform: uppercase;
      }
    }

    p {
      margin: 0;
      // margin-left: 10px;
    }
  }

  .headerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    box-shadow: 0 3px 6px 0 #00000032;
    margin: 10px 20px;
    background-color: white;

    span {
      color: var(--light-main-color);
    }

    & p {
      font-size: 14px;
      margin: 0 3px;

      &:first-of-type {
        color: var(--main-color);
        font-weight: 900;
      }
    }
  }

  .headerLastCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    background-color: var(--main-color);
    box-shadow: 0 3px 6px 0 var;
    margin: 10px 20px;
    margin-left: auto;
    margin-right: 20px;

    span {
      color: white;
    }

    & p {
      font-size: 14px;
      margin: 0 3px;
      color: white;

      &:first-of-type {
        font-weight: 900;
      }
    }
  }

  // .dateFilter {
  //   min-height: 40px;
  //   box-sizing: border-box;
  //   display: flex;
  //   justify-content: center;

  //   & p {
  //     font-size: 12px;
  //     margin: 3px;
  //   }
  // }

  .headerRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;

    .addButton {
      border: none;
      padding: 5px 10px;
      background-color: var(--light-main-color);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: var(--main-color);
        box-shadow: 0 3px 6px 0 #00000032;
      }
    }
  }
}
