.container {
  width: 600px;
  margin: 40px auto;

  .title {
    width: 100%;
    margin: 20px;
    text-align: center;
  }

  .error {
    padding: 20px;
    font-size: 12px;
    color: red;
    border: solid 1px red;
  }

  .success {
    padding: 20px;
    font-size: 12px;
    color: green;
    border: solid 1px green;
  }
}
