.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  button.cell {
    cursor: pointer;
    background: none;
    padding: 5px 10px;
    margin: 0;
    border: none;
  }

  & .cell {
    height: 30px !important;
    justify-content: space-between !important;
    overflow-y: hidden !important;
  }
}

.body {
  width: 100%;
  overflow-y: auto;

  button.cell {
    cursor: pointer;
    background: none;
    padding: 5px 10px;
    margin: 0;
    border: none;
  }
}

.footer {
  width: 100%;
  border-top: solid 1px #ddd;

  button.cell {
    cursor: pointer;
    background: none;
    padding: 5px 10px;
    margin: 0;
    border: none;
  }

  & .cell {
    height: 30px !important;
    overflow-y: hidden !important;
    font-weight: bold !important;
  }
}

.row {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  border-bottom: solid 1px #ddd;

  .cell {
    margin: 0;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    color: #333;
    padding: 5px 10px;
    border-right: solid 1px #eee;
    height: 60px;
    overflow-y: auto;

    &.tiny {
      width: 30px;
      flex-grow: 0;
    }

    &.small {
      width: 50px;
      flex-grow: 0;
    }

    &.mid {
      width: 100px;
      flex-grow: 0;
    }

    &.norm {
      width: 170px;
      flex-grow: 0;
    }

    &.big {
      width: 250px;
    }

    &.right {
      justify-content: flex-end;
    }
  }
}
