.header {
  width: 100%;
  background: #e8ecf0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.body {
  width: 100%;
  overflow-y: auto;
}

.footer {
  width: 100%;
  border-top: solid 1px #ddd;
}
