.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.container {
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.loginButton {
  margin: 'auto 10px 20px';
  padding: '10px';
  border: 'solid 1px #ddd';
  width: 'calc(100% - 20px)';
  &:hover {
    background: #eee;
  }
}
