.editable {
  border: dashed 2px transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.editable div {
  padding: 5px 10px;
  border: solid 2px transparent;
  min-height: 30px;
  text-align: right;
}
.editable div:hover {
  border: dashed 2px #ddd;
}
.editable div:focus {
  border: dashed 2px var(--main-color);
  color: var(--main-color) !important;
}
.editable form {
  width: 100%;
}
.editable input {
  margin: 0 !important;
  padding: 5px 10px !important;
  box-sizing: border-box !important;
  border: solid 2px transparent;
  display: block;
  width: 100%;
  text-align: right;
}
.editable input:hover {
  border: dashed 2px #ddd;
}
.editable input:focus {
  border: dashed 2px var(--main-color);
  color: var(--main-color) !important;
}
.loading {
  opacity: 0.5;
  background-color: rgba(217, 245, 255, 0.5);
}
