.editable {
  border: dashed 2px transparent;
  // border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;

  & div {
    padding: 5px 10px;
    border: solid 2px transparent;
    // height: 100%;
    min-height: 30px;
    text-align: right;

    &:hover {
      border: dashed 2px #ddd;
      // box-shadow: 0 3px 6px 0 #00000032;
    }

    &:focus {
      border: dashed 2px var(--main-color);
      color: var(--main-color) !important;
    }
  }

  form {
    width: 100%;
  }
  input {
    margin: 0 !important;
    padding: 5px 10px !important;
    box-sizing: border-box !important;
    border: solid 2px transparent;
    display: block;
    width: 100%;
    // height: 100%;
    text-align: right;

    &:hover {
      border: dashed 2px #ddd;
      // box-shadow: 0 3px 6px 0 #00000032;
    }

    &:focus {
      border: dashed 2px var(--main-color);
      color: var(--main-color) !important;
    }
  }
}

.loading {
  opacity: 0.5;
  background-color: rgba(217, 245, 255, 0.5);
}
