.row {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  border-bottom: solid 1px #ddd;
  background: white;
  margin-bottom: 0;
  margin-top: auto;

  .midCell {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    border: none;
    background: none;
    cursor: pointer;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: var(--main-color);
    padding: 5px 10px;
    // border-right: solid 1px #eee;
    font-weight: 500;

    & p {
      padding: 3px 0;
      margin: 0;
    }

    &:hover {
      background-color: var(--main-color);
      color: white;
      box-shadow: 0 3px 6px 0 #00000032;
    }
  }

  .normCell {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    border: none;
    background: none;
    cursor: pointer;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: var(--main-color);
    padding: 5px 10px;
    // border-right: solid 1px #eee;
    font-weight: 500;

    & p {
      padding: 3px 0;
      margin: 0;
    }

    &:hover {
      background-color: var(--main-color);
      color: white;
      box-shadow: 0 3px 6px 0 #00000032;
    }
  }

  .bigCell {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    border: none;
    background: none;
    cursor: pointer;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: var(--main-color);
    padding: 5px 10px;
    // border-right: solid 1px #eee;
    font-weight: 500;

    & p {
      padding: 3px 0;
      margin: 0;
    }

    &:hover {
      background-color: var(--main-color);
      color: white;
      box-shadow: 0 3px 6px 0 #00000032;
    }
  }
}
