.headerContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .transactionNum {
    display: flex;
    justify-content: flex-end;

    padding: 10px;

    & p {
      font-size: 14px;
      margin: 0 3px;

      &:first-of-type {
        font-weight: 900;
      }
    }
  }

  .title {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0;

    & h1 {
      font-size: 24px;
      font-weight: 500;
      color: #102a43;
      margin: 0;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .dateFilter {
    min-height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    & p {
      font-size: 12px;
      margin: 3px;
    }
  }

  .totalsRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .balance {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;

      & h2 {
        font-size: 13px;
        font-weight: 100;
        color: #486581;
        margin: 0 0 5px;
      }

      & p {
        font-size: 18px;
        margin: 0;
        padding: 0;
      }
    }
  }
}
