.row {
  box-sizing: border-box !important;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  border-bottom: solid 1px #ddd;
  height: 30 !important;
  overflow: hidden;

  .midCell {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    color: #333;
    padding: 5px 10px;
    border-right: solid 1px #eee;

    &.right {
      justify-content: flex-end;
    }
  }

  .normCell {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    width: 170px;
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    color: #333;
    padding: 5px 10px;
    border-right: solid 1px #eee;
  }

  .bigCell {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    color: #333;
    padding: 5px 10px;
    border-right: solid 1px #eee;
  }
}
