.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  padding: 26px 0;
  transition: 0.3s ease-in-out all;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  // margin-left: -10px;
  // border-top-left-radius: 10px;
  // border-bottom-left-radius: 10px;
  background-color: white;
  overflow-x: visible;
  overflow-y: hidden;
  // z-index: 9;
  min-width: 80px;
  flex-shrink: 0 !important;

  &.open {
    min-width: 150px;
  }

  .bars {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    img,
    svg {
      fill: var(--main-color);
      cursor: pointer;
      width: 40px;
      margin: 0 auto 0 10px;
    }
  }

  .linksContainer {
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    margin-bottom: 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0px !important; /* emove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
  }
}

.basicButton {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
  outline: none;
  filter: brightness(85%);

  &:hover {
    background: transparent;
    border: none;
    border-radius: 0;
  }
}
