.row {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  border-bottom: solid 1px #ddd;
  // background-color: rgba(217, 245, 255, 0.1);

  // &:hover {
  //   background-color: rgba(217, 245, 255, 0.1);
  // }

  .midCell {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    color: #333;
    padding: 5px 10px;
    border-right: solid 1px #eee;

    &.right {
      justify-content: flex-end;
    }

    &[contenteditable='true'] {
      &:hover {
        background-color: rgba(217, 245, 255, 0.5);
      }

      &:focus {
        background-color: rgba(217, 245, 255, 0.5);
      }
    }

    &.loading {
      opacity: 0.5;
      background-color: rgba(217, 245, 255, 0.5);
    }
  }

  .normCell {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    width: 170px;
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    color: #333;
    padding: 5px 10px;
    border-right: solid 1px #eee;
  }

  .bigCell {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    color: #333;
    padding: 5px 10px;
    border-right: solid 1px #eee;

    &[contenteditable='true'] {
      &:hover {
        background-color: rgba(217, 245, 255, 0.5);
      }

      &:focus {
        background-color: rgba(217, 245, 255, 0.5);
      }
    }
  }
}
