.container {
  position: relative;
  height: 37px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 10px 20px 10px;
  display: flex;
  align-items: center;
  width: 100%;

  &.collapsed {
    justify-content: flex-start;
  }

  &.expanded {
    justify-content: flex-start;
  }

  .profilePicture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 5;
    position: relative;
    border: solid 3px var(--main-color);
    display: flex;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img,
    svg {
      width: 120%;
      height: 120%;
    }
  }

  .dropdown {
    position: fixed;
    box-shadow: 0 2px 4px 0 var(--secondary-background);
    background-color: var(--main-background);
    border-radius: 4px 0 4px 4px;
    bottom: 80px;
    left: -20px;
    pointer-events: none;
    max-width: 375px;
    pointer-events: inherit;
    z-index: 5;

    ul {
      list-style-type: none;
      font-size: 12px;
      background-color: var(--main-background);
      position: absolute;
      bottom: 0;
      left: 155px;
      box-shadow: 0 2px 4px 0 var(--secondary-background);
      padding-left: 10px;
      min-width: 150px;

      .link {
        margin: 0;
        color: var(--secondary-text);
        font-weight: 300;
        display: flex;
        cursor: pointer;
        list-style-position: outside;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        align-items: center;

        &:hover {
          &:not(.disabled) {
            background: var(--secondary-background);
            transition: background 200ms ease;
          }
        }

        &.disabled {
          color: var(--secondary-text);
          cursor: not-allowed;
        }
      }

      .icon {
        margin-right: 10px;
        height: 14px;
        width: 14px;
      }
    }

    &:before {
      content: '';
      width: 60px;
      height: 60px;
      position: absolute;
      top: -56px;
      right: 0px;
      border-radius: 24px 0 0 24px;
      padding: 5px;
      background-color: inherit;
      box-shadow: -4px 0 4px -4px rgba(0, 0, 0, 0.5),
        2px 0 4px -2px rgba(0, 0, 0, 0.5);
    }
  }
}

.basicButton {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  background: none;
  color: inherit;
  display: flex;
  align-items: center;
  font-size: 11px;

  &.profileButton {
    padding: 5px;
  }

  p {
    text-align: left;
  }

  &:hover {
    background: none;
  }
}
